@using FcmsPortal.Models
@using FcmsPortal.Enums
@using Microsoft.AspNetCore.Components.Forms

<EditForm Model="@Model" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label>Street</label>
        <InputText class="form-control" @bind-Value="Model.Street" />
    </div>
    <div class="form-group">
        <label>City</label>
        <InputText class="form-control" @bind-Value="Model.City" />
    </div>
    <div class="form-group">
        <label>State</label>
        <InputText class="form-control" @bind-Value="Model.State" />
    </div>
    <div class="form-group">
        <label>Postal Code</label>
        <InputText class="form-control" @bind-Value="Model.PostalCode" />
    </div>
    <div class="form-group">
        <label>Country</label>
        <InputText class="form-control" @bind-Value="Model.Country" />
    </div>
    <div class="form-group">
        <label>Address Type</label>
        <InputSelect class="form-control" @bind-Value="Model.AddressType">
            @foreach (AddressType type in Enum.GetValues(typeof(AddressType)))
            {
                <option value="@type">@type</option>
            }
        </InputSelect>
    </div>
    <button type="submit" class="btn btn-primary mt-2">@ButtonText</button>
</EditForm>

@code {
    [Parameter]
    public Address Model { get; set; }

    [Parameter]
    public EventCallback OnValidSubmit { get; set; }

    [Parameter]
    public string ButtonText { get; set; } = "Submit";
}
