@using FcmsPortal.Models
@using FcmsPortal.Enums
@using Microsoft.AspNetCore.Components.Forms
@using FcmsPortalUI.Components.Pages.Shared
@using FcmsPortalUI.Services
@inject NavigationManager NavigationManager
@inject ValidationService ValidationService
@inject ISchoolDataService SchoolDataService

<EditForm EditContext="@editContext" OnSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 mb-4 text-center">
                    <ProfileThumbnailForm ImageUrl="@profilePictureUrl"
                                          ImageUrlChanged="HandleProfilePictureChanged"
                                          Category="StaffProfilePictures" />
                </div>
            </div>

            <h4 class="mb-3">Personal Information</h4>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="firstName" class="form-label">First Name<span class="text-danger">*</span></label>
                    <InputText id="firstName" class="form-control" @bind-Value="Staff.Person.FirstName" />
                    <ValidationMessage For="@(() => Staff.Person.FirstName)" />
                </div>
                <div class="col-md-4 mb-3">
                    <label for="middleName" class="form-label">Middle Name</label>
                    <InputText id="middleName" class="form-control" @bind-Value="Staff.Person.MiddleName" />
                    <ValidationMessage For="@(() => Staff.Person.MiddleName)" />
                </div>
                <div class="col-md-4 mb-3">
                    <label for="lastName" class="form-label">Last Name<span class="text-danger">*</span></label>
                    <InputText id="lastName" class="form-control" @bind-Value="Staff.Person.LastName" />
                    <ValidationMessage For="@(() => Staff.Person.LastName)" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="gender" class="form-label">Gender<span class="text-danger">*</span></label>
                    <InputSelect id="gender" class="form-select" @bind-Value="Staff.Person.Sex">
                        <option value="">-- Select Gender --</option>
                        @foreach (var gender in Enum.GetValues(typeof(Gender)).Cast<Gender>().Where(g => g != Gender.None))
                        {
                            <option value="@gender">@gender</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="@(() => Staff.Person.Sex)" />
                </div>
                <div class="col-md-4 mb-3">
                    <label for="dateOfBirth" class="form-label">Date of Birth<span class="text-danger">*</span></label>
                    <InputDate id="dateOfBirth" class="form-control" @bind-Value="Staff.Person.DateOfBirth" />
                    <ValidationMessage For="@(() => Staff.Person.DateOfBirth)" />
                </div>
                <div class="col-md-4 mb-3">
                    <label for="email" class="form-label">Email<span class="text-danger">*</span></label>
                    <InputText id="email" class="form-control" @bind-Value="Staff.Person.Email" disabled="@IsEditMode" />
                    <ValidationMessage For="@(() => Staff.Person.Email)" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="stateOfOrigin" class="form-label">State of Origin<span class="text-danger">*</span></label>
                    <InputText id="stateOfOrigin" class="form-control" @bind-Value="Staff.Person.StateOfOrigin" />
                    <ValidationMessage For="@(() => Staff.Person.StateOfOrigin)" />
                </div>
                <div class="col-md-4 mb-3">
                    <label for="lgaOfOrigin" class="form-label">LGA of Origin<span class="text-danger">*</span></label>
                    <InputText id="lgaOfOrigin" class="form-control" @bind-Value="Staff.Person.LgaOfOrigin" />
                    <ValidationMessage For="@(() => Staff.Person.LgaOfOrigin)" />
                </div>
                <div class="col-md-4 mb-3">
                    <label for="phoneNumber" class="form-label">Phone Number<span class="text-danger">*</span></label>
                    <InputText id="phoneNumber" class="form-control" @bind-Value="Staff.Person.PhoneNumber" />
                    <ValidationMessage For="@(() => Staff.Person.PhoneNumber)" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="emergencyContact" class="form-label">Emergency Contact<span class="text-danger">*</span></label>
                    <InputText id="emergencyContact" class="form-control" @bind-Value="Staff.Person.EmergencyContact" />
                    <ValidationMessage For="@(() => Staff.Person.EmergencyContact)" />
                </div>
                <div class="col-md-6 mb-3">
                    <div class="form-check form-switch mt-4">
                        <InputCheckbox id="isActive" class="form-check-input" @bind-Value="Staff.Person.IsActive" />
                        <label class="form-check-label" for="isActive">Status</label>
                    </div>
                </div>
            </div>

            <h4 class="mb-3">Professional Information</h4>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="userRole" class="form-label">User Role<span class="text-danger">*</span></label>
                    <InputSelect id="userRole" class="form-select" @bind-Value="Staff.UserRole">
                        <option value="">-- Select Job Role --</option>
                        @foreach (var role in Enum.GetValues(typeof(UserRole))
                                                .Cast<UserRole>()
                                                .Where(r => r != UserRole.None &&
                                                r != UserRole.Student &&
                                                r != UserRole.Guardian &&
                                                r != UserRole.Developer))
                        {
                            <option value="@role">@role</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="@(() => Staff.UserRole)" />
                </div>
                <div class="col-md-6 mb-3">
                    <label for="dateOfEmployment" class="form-label">Date of Employment<span class="text-danger">*</span></label>
                    <InputDate id="dateOfEmployment" class="form-control" @bind-Value="Staff.DateOfEmployment" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 mb-3">
                    <label for="jobDescription" class="form-label">Job Description<span class="text-danger">*</span></label>
                    <InputTextArea id="jobDescription" class="form-control" @bind-Value="Staff.JobDescription" rows="3" />
                    <ValidationMessage For="@(() => Staff.JobDescription)" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="educationLevel" class="form-label">Education Level<span class="text-danger">*</span></label>
                    <InputSelect id="educationLevel" class="form-select" @bind-Value="Staff.Person.EducationLevel" @bind-Value:after="HandleEducationLevelChange">
                        <option value="@EducationLevel.None">-- Select Education Level --</option>
                        @foreach (var level in Enum.GetValues(typeof(EducationLevel)))
                        {
                            <option value="@level">@level</option>
                        }
                    </InputSelect>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="areaOfSpecialization" class="form-label">Area of Specialization</label>
                    <InputSelect id="areaOfSpecialization" class="form-select" @bind-Value="Staff.AreaOfSpecialization">
                        <option value="">-- Select Area of Specialization --</option>
                        @foreach (var course in availableCourses)
                        {
                            <option value="@course">@course</option>
                        }
                    </InputSelect>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 mb-3">
                    <label for="qualifications" class="form-label">Qualifications</label>
                    <InputText id="qualifications" class="form-control" @bind-Value="Staff.Qualifications" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 mb-3">
                    <label for="workExperience" class="form-label">Work Experience</label>
                    <InputTextArea id="workExperience" class="form-control" @bind-Value="Staff.WorkExperience" rows="3" />
                </div>
            </div>

            <h5 class="mb-3 mt-4">Address Information<span class="text-danger">*</span></h5>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="street" class="form-label">Street<span class="text-danger">*</span></label>
                    <InputText id="street" class="form-control" @bind-Value="Staff.Person.Address.Street" />
                    <ValidationMessage For="@(() => Staff.Person.Address.Street)" />
                </div>
                <div class="col-md-6 mb-3">
                    <label for="city" class="form-label">City<span class="text-danger">*</span></label>
                    <InputText id="city" class="form-control" @bind-Value="Staff.Person.Address.City" />
                    <ValidationMessage For="@(() => Staff.Person.Address.City)" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="state" class="form-label">State<span class="text-danger">*</span></label>
                    <InputText id="state" class="form-control" @bind-Value="Staff.Person.Address.State" />
                    <ValidationMessage For="@(() => Staff.Person.Address.State)" />
                </div>
                <div class="col-md-4 mb-3">
                    <label for="postalCode" class="form-label">Postal Code</label>
                    <InputText id="postalCode" class="form-control" @bind-Value="Staff.Person.Address.PostalCode"
                               placeholder="This could also be postal address, e.g., P.O. Box 250" />
                    <ValidationMessage For="@(() => Staff.Person.Address.PostalCode)" />
                </div>
                <div class="col-md-4 mb-3">
                    <label for="country" class="form-label">Country<span class="text-danger">*</span></label>
                    <InputText id="country" class="form-control" @bind-Value="Staff.Person.Address.Country" />
                    <ValidationMessage For="@(() => Staff.Person.Address.Country)" />
                </div>
            </div>

            <div class="d-flex gap-2 mt-4">
                <button type="submit" class="btn btn-primary">@SubmitButtonText</button>
                <button type="button" class="btn btn-secondary" @onclick="Cancel">Cancel</button>
            </div>
        </div>
    </div>
</EditForm>

@code {
    [Parameter, EditorRequired]
    public Staff Staff { get; set; } = new()
    {
        Person = new Person()
        {
            IsActive = true
        },
    };

    [Parameter]
    public string SubmitButtonText { get; set; } = "Save";

    [Parameter, EditorRequired]
    public EventCallback<Staff> OnSubmit { get; set; }

    [Parameter, EditorRequired]
    public EventCallback OnCancel { get; set; }

    [Parameter]
    public bool IsEditMode { get; set; } = false;

    private EditContext? editContext;
    private ValidationMessageStore? messageStore;
    private string profilePictureUrl = "";
    private string oldProfilePictureUrl = "";
    private List<string> availableCourses { get; set; } = new();

    protected override void OnInitialized()
    {
        if (Staff.Person.Address == null)
            Staff.Person.Address = new Address();

        if (Staff.Person.DateOfBirth == default)
            Staff.Person.DateOfBirth = DateTime.Today;

        if (Staff.DateOfEmployment == default)
            Staff.DateOfEmployment = DateTime.Today;

        profilePictureUrl = Staff.Person.ProfilePictureUrl ?? "";
        oldProfilePictureUrl = profilePictureUrl;

        availableCourses = CourseDefaults.GetCourseNames(Staff.Person.EducationLevel);
        editContext = new EditContext(Staff);
        messageStore = new ValidationMessageStore(editContext);
    }

    private void HandleEducationLevelChange()
    {
        availableCourses = CourseDefaults.GetCourseNames(Staff.Person.EducationLevel);
        Staff.AreaOfSpecialization = "";
        StateHasChanged();
    }

    private async Task HandleProfilePictureChanged(string newImageUrl)
    {
        if (!string.IsNullOrEmpty(oldProfilePictureUrl) &&
            !oldProfilePictureUrl.StartsWith("data:") &&
            oldProfilePictureUrl != newImageUrl)
        {
            try
            {
                var oldAttachment = new FileAttachment
                {
                    FilePath = oldProfilePictureUrl
                };
                await SchoolDataService.DeleteFileAsync(oldAttachment);
            }
            catch
            {
                // Log error but don't stop the process
            }
        }

        profilePictureUrl = newImageUrl;
        oldProfilePictureUrl = newImageUrl;
        StateHasChanged();
    }

    private async Task HandleSubmit(EditContext context)
    {
        if (!ValidationService.ValidateStaff(context, Staff, messageStore!))
        {
            return;
        }
        Staff.Person.ProfilePictureUrl = profilePictureUrl;
        await OnSubmit.InvokeAsync(Staff);
    }

    private async Task Cancel()
    {
        await OnCancel.InvokeAsync();
    } 
}